@page
@model IndexModel
@{
    ViewData["Title"] = "TheOracle Content Subscriptions";
}

<div class="text-center">
    <h1 class="display-4">TheOracle 3rd Party Content</h1>
    <p>This is the future page where content can be subscribed to, and uploaded.</p>
</div>
<div class="row">
    <div class="col-4">
        <input type="button" value="Find Content" />
    </div>
    <div class="col-4">
        <input type="button" value="Create/Add Content" />
    </div>
</div>